@{
    Layout = null;
}

<div class="col-lg-12">
    <div class="footer-copy-right">
        <p>Copyright &#169; 2021 - @DateTime.Now.Year Copyright © Asp.Net Core3.1. <a asp-controller="Admin" asp-action="Index">Home</a>.</p>
    </div>
</div>