@model IEnumerable<Contact>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="contact-info">
        <p><i class="fa fa-envelope"></i>@item.Email</p>
        <p><i class="fa fa-envelope"></i>@item.OptionalEmail</p>
        <p><i class="fa fa-phone"></i>@item.Whatsapp</p>
    </div>
}