@{ 
    Layout = null;
}

<div class="product-search">
    <form asp-controller="Home" asp-action="SearchResult" method="get">
        <input type="text" name="key" value="Search">
        <button><i class="fa fa-search"></i></button>
    </form>
</div>