@model IEnumerable<Contact>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-6">
            <i class="fa fa-envelope"></i>
            @item.Email
        </div>
        <div class="col-sm-6">
            <i class="fa fa-phone-alt"></i>
            @item.Whatsapp
        </div>
    </div>
}