@model IEnumerable<Category>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <li>
        <a asp-controller="Product" asp-action="Category" asp-route-id="@item.Id">@item.Name </a><span>(@item.Products.Count())</span>
    </li>
}